
#myContainer {
  
  height: 400px;
  position: relative;
  background: yellow;
}

#myAnimation {
  width: 100px;
  height: 100px;
  position: absolute;
  left: -150px;
  background-color: red;
  z-index: 999;
}

#myBot {
  width: 100px;
  height: 100px;
  position: absolute;
}