/* .jumbotron {
    background-image: url(../images/rockOn_dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
} */
